<div class="wrap bg-warning color-dark">
  <div class="container">
    <!--
    <h1 class="color-white text-center mb-4">Some numerical data</h1>
    -->
    <div class="row">
      <div class="col-xl-3 col-md-6">
        <div class="card card-royal card-body overflow-hidden text-center wow zoomInUp animation-delay-2" style="visibility: visible; animation-name: zoomInUp;">
          <h2 class="counter">123</h2>
          <i class="fa fa-4x fa-car color-royal"></i>
          <p class="mt-2 no-mb lead small-caps">vehicles</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card card-success card-body overflow-hidden text-center wow zoomInUp animation-delay-5" style="visibility: visible; animation-name: zoomInUp;">
          <h2 class="counter">232</h2>
          <i class="fa fa-4x fa-briefcase color-success"></i>
          <p class="mt-2 no-mb lead small-caps">parts</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card card-danger card-body overflow-hidden text-center wow zoomInUp animation-delay-4" style="visibility: visible; animation-name: zoomInUp;">
          <h2 class="counter">3</h2>
          <i class="fa fa-4x fa-comments-o color-danger"></i>
          <p class="mt-2 no-mb lead small-caps">services</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card card-info card-body overflow-hidden text-center wow zoomInUp animation-delay-3" style="visibility: visible; animation-name: zoomInUp;">
          <h2 class="counter">5</h2>
          <i class="fa fa-4x fa-group color-info"></i>
          <p class="mt-2 no-mb lead small-caps">jobs</p>
        </div>
      </div>
    </div>
    <!--
    <div class="text-center color-white mw-800 center-block mt-4">
      <p class="lead lead-lg">Discover our projects and the rigorous process of creation. Our principles are creativity, design, experience and knowledge. We are backed by 20 years of research.</p>
      <a href="javascript:void(0)" class="btn btn-raised btn-white color-info wow flipInX animation-delay-8" style="visibility: visible; animation-name: flipInX;"><i class="fa fa-space-shuttle"></i> I have a project</a>
    </div>
    -->
  </div>
</div>
