<a href="/">
  <!-- <img src="/assets/img/demo/logo-header.png" alt=""> -->
  <span class="ms-logo animated zoomInDown animation-delay-5">T</span>
  <h1 class="animated fadeInRight animation-delay-6">TOP <span>AUTO</span></h1>
  <span class="badge-pill badge-pill-pink">0.0.3b</span>
</a>
