<a class="navbar-brand" href="/">
  <!-- <img src="/assets/img/demo/logo-navbar.png" alt=""> -->
  <span class="ms-logo ms-logo-sm">T</span>
  <span class="ms-title">TOP <strong>AUTO</strong></span>
  <span class="badge-pill badge-pill-pink">admin</span>
</a>
