<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-danger float-right" 
      data-toggle="modal" data-target="#newMakeModal">
        <i class="fa fa-plus" style="margin-left: 10px"></i>
      </a>
      <i class="fa fa-globe"></i> Make Management
    </h3>
  </div>
  <div class="panel-body">
    <div class="row" id="Container">
      <div class="col-lg-4 col-md-6 mix category-2" style="display: inline-block;" data-bound="">
        <div class="card">
          <figure class="ms-thumbnail">
            <img src="/img/demo/port2.jpg" alt="" class="img-fluid">
            <figcaption class="ms-thumbnail-caption text-center">
              <div class="ms-thumbnail-caption-content">
                <h4 class="ms-thumbnail-caption-title mb-2">Toyota</h4>
                <a href="javascript:void(0)" 
          class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger" 
          data-toggle="modal" data-target="#editMakeModal">
                  <i class="zmdi zmdi-edit"></i>
                </a>
                <a href=href="javascript:void(0)" 
          class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"
          data-toggle="modal" data-target="#removeMakeModal">
                  <i class="zmdi zmdi-delete"></i>
                </a>
              </div>
            </figcaption>
          </figure>
          <div class="card-body overflow-hidden text-center portfolio-item-caption d-none">
            <h3 class="color-primary no-mt">actions</h3>
            <p>here it is</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mix category-2" style="display: inline-block;" data-bound="">
        <div class="card">
          <figure class="ms-thumbnail">
            <img src="/img/demo/port2.jpg" alt="" class="img-fluid">
            <figcaption class="ms-thumbnail-caption text-center">
              <div class="ms-thumbnail-caption-content">
                <h4 class="ms-thumbnail-caption-title mb-2">Toyota</h4>
                <a href="javascript:void(0)" 
          class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger" 
          data-toggle="modal" data-target="#editMakeModal">
                  <i class="zmdi zmdi-edit"></i>
                </a>
                <a href=href="javascript:void(0)" 
          class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"
          data-toggle="modal" data-target="#removeMakeModal">
                  <i class="zmdi zmdi-delete"></i>
                </a>
              </div>
            </figcaption>
          </figure>
          <div class="card-body overflow-hidden text-center portfolio-item-caption d-none">
            <h3 class="color-primary no-mt">actions</h3>
            <p>here it is</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mix category-2" style="display: inline-block;" data-bound="">
        <div class="card">
          <figure class="ms-thumbnail">
            <img src="/img/demo/port2.jpg" alt="" class="img-fluid">
            <figcaption class="ms-thumbnail-caption text-center">
              <div class="ms-thumbnail-caption-content">
                <h4 class="ms-thumbnail-caption-title mb-2">Toyota</h4>
                <a href="javascript:void(0)" 
          class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger" 
          data-toggle="modal" data-target="#editMakeModal">
                  <i class="zmdi zmdi-edit"></i>
                </a>
                <a href=href="javascript:void(0)" 
          class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"
          data-toggle="modal" data-target="#removeMakeModal">
                  <i class="zmdi zmdi-delete"></i>
                </a>
              </div>
            </figcaption>
          </figure>
          <div class="card-body overflow-hidden text-center portfolio-item-caption d-none">
            <h3 class="color-primary no-mt">actions</h3>
            <p>here it is</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <%== renderPartial("pager") %>
      </div>
    </div>
  </div>
</div>
<%== renderPartial("make_form_new") %>
<%== renderPartial("make_form_edit") %>
<%== renderPartial("make_remove") %>
