<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title"><i class="zmdi zmdi-filter-list"></i>Filter</h3>
  </div>
  <div class="card-body no-pb">
    <form class="form-horizontal">
      <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
          <i class="fa fa-search" style="margin-right: 20px; margin-top: 10px;"></i>
          <input type="text" id="addon1" class="form-control">
        </div>
      </div>
      <div class="form-group mt-1">
        <div class="radio radio-primary">
          <label>
            <input type="radio" name="sortMake" id="sortById" value="sortById" checked=""> sort by id
          </label>
        </div>
        <div class="radio radio-primary">
          <label>
            <input type="radio" name="sortMake" id="sortByName" value="sortByName"> sort by name
          </label>
        </div>
        <!--
        <div class="radio radio-primary">
          <label>
            <input type="radio" name="sortMake" id="sortByType" value="sortByType"> sort by type
          </label>
        </div>
        -->
      </div>
    </form>
  </div>
</div>
