<nav aria-label="...">
    <ul class="pager pager-flat pager-danger d-flex justify-content-between">
        <li class="page-item"><a class="page-link" href="javascript:void(0)"><span aria-hidden="true">«</span> Previous</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0)">Next <span aria-hidden="true">»</span></a></li>
    </ul>
</nav>